<html>
    <head>
        <title>money</title>
    </head>
    <body>
        <h1>save money</h1>
        <FORM method="POST" >
                วันที่ออม: <input name="date" id="date_new" placeholder="Enter date"/>
           <br>           
	   จำนวนเงินออม: <input name="cost" id="cost_new" placeholder="Enter money"/>
           <br>
            <INPUT Type="submit" VALUE="save money" id="button" >
            <INPUT Type = "hidden" value = "send" name = "button_send">
            {% csrf_token %}
        </FORM> 

        <table id="id_list_table" border=1>
                <tr align=center>
                  <td>date</td>
                  <td>money</td>
                  <td>delete</td>
                </tr>
               {% for money in moneys %}
                <tr>                
                   <td>{{ money.date }}</td>
                   <td>{{ money.cost }}</td>
                 <td>
                 <FORM method="POST">
                     <INPUT Type="submit" VALUE="delete" id="button_d" >      
                     <INPUT Type = "hidden" value ="delete" name = 'delete'>
                     <INPUT Type = "hidden" value ="{{ money.id }}" name = 'id_delete'>
                     {% csrf_token %}
                 </FORM>
                 </td>
                </tr>
            {% endfor %}
       </table>
       <table id="id_total_table">
                <tr>   
                   <td>ผลรวม</td>
                   <td>{{ cost_money }}</td>
                </tr>
                <tr> 
                   <td>ค่าเฉลี่ย</td>
                   <td>{{ avg_money }}</td>
                </tr>
        </table>
-------------------------------------------------------------------<br>
       <table id="id_max_min_table">
       <tr><td>ค่าเงินที่มากสุดในการออม:</td><td>{{max_money}}</td></tr> 
       <tr><td>ค่าเงินที่มากสุดในการออม:</td><td>{{min_money}}</td></tr> 
       </table>
-------------------------------------------------------------------<br>
 เรียงค่าเงินมากไปน้อย :
       <table id="max-min">
            {% for maxmin in max_min %}
               <tr><td>{{maxmin}}</td></tr>
            {% endfor %}
       </table>
เรียงค่าเงินน้อยไปมาก :
       <table id="min-max">
            {% for minmax in min_max %}
               <tr><td>{{minmax}}</td></tr>
            {% endfor %} 
       </table>
    </body>
</html>

